* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

body {
    .breadcrumb {
        .breadcrumb-item {
            font-size: 18px;
            padding: 10px 20px;
            color: #565656;
        }
    }

    .product-display {
        min-height: 100%;

        .product-image {
            gap: 10px;

            .product-icons {
                gap: 10px;

                img {
                    border: 1px solid gray;
                    border-radius: 10px;
                    padding: 5px;
                }
            }
        }

        .product-details {
            margin: 0px 30px;

            .product-title {
                font-size: 25px;
            }

            .brand-store {
                margin-top: 5px;
                color: #007185;
                font-size: 14px;
            }

            .product-rating {
                gap: 10px;

                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                p {
                    color: #007185;

                    span {
                        color: #fff;
                        background: #c73500;
                        padding: 2px 5px;
                        border-radius: 3px;
                        font-size: 14px;
                    }
                }

                h5 {
                    font-weight: 400;
                }
            }

            .product-price {

                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 10px 0px;

                    p {
                        font-size: 26px;
                        color: #c73500;
                    }

                    h1 {
                        font-size: 14px;
                        font-weight: 500;
                        margin: 0;

                        span {
                            font-size: 26px;
                        }
                    }

                    h5 {
                        color: #565656;
                        font-weight: 400;
                    }
                }

                p {
                    span {
                        color: #007185;
                    }
                }

                h5 {
                    span {
                        text-decoration: line-through; 
                    }
                }
            }

            .product-color {
                margin: 15px 0px;

                .product-color-opt {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;

                    .option {
                        display: flex;
                        align-items: center;
                        padding: 8px 12px;
                        border: 1px solid #cbcbcb;
                        gap: 10px;
                    }
                }
            }

            .product-info {
                display: grid;
                grid-template-columns: auto auto;
                max-width: 300px;
                margin-bottom: 15px;
            }

            .product-discription {
                h1 {
                    font-size: 20px;
                    margin: 15px 0px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-left: 30px;
                }
            }
        }

        .product-purchase {
            width: 100%;
            max-width: 280px;
            border: 1px solid #c1c1c1;
            border-radius: 10px;
            padding: 20px;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .price {
                font-size: 16px;
                font-weight: 400;
                margin: 10px 0px;

                span {
                    font-size: 26px;
                    padding: 2px;
                }
            }

            .gap {
                margin: 15px 0px;

                p {
                    span {
                        color: #007185;
                    }
                }
            }

            .delivery-location {
                display: flex;
                align-items: center;
                gap: 3px;
            }

            .product-stock {
                margin: 15px 0px;
                color: green;
                font-weight: 400;
            }

            .product-quantity {
                padding: 8px 5px;
                outline: none;
                width: 100%;
                border-radius: 5px;
                background: #efefef;
                border-color: #c1c1c1;
            }

            .product-seller-info {
                margin-top: 10px;
                display: grid;
                grid-template-columns: auto auto;
                gap: 4px;
                font-size: 14px;
                color: #565656;

                p {
                    span {
                        color: #007185;
                    }
                }
            }
        }
    }

    a {
        text-decoration: none;
    }

    p {
        margin: 0;
    }
}